label#imagem {
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  background-size: cover;
  cursor: pointer;
  display: flex;
  height: 160px;
  justify-content: center;
  align-items: center;
}

label#imagem input {
  display: none;
}

label#imagem.has-imagem {
  border: 0;
}

label#imagem.has-imagem img {
  display: none;
}
